// Titles with view more
  
.title-with-line
  position: relative
  margin-bottom: 25px
  border-bottom: 7px solid rgba($main-color, 0.6)

  .text
    position: relative
    display: inline-block
    font-size: 24px
    line-height: 24px
    font-weight: 600
    color: $black
    text-transform: uppercase
    margin-bottom: 10px

    &:after
      content: ''
      position: absolute
      left: 0
      right: 0
      bottom: -17px
      height: 7px
      background: $main-color
      border-right: 1px solid #fff

  .view-more
    display: inline-block
    width: 26px
    height: 26px
    line-height: 26px
    padding: 0 5px
    margin-left: 10px
    color: #fff
    background: $gray
    border-radius: 50%
    position: absolute
    @include transition

    &:hover
      background-color: $main-color

// Contact page

.contact-content
  margin-bottom: 40px
  
  h2,
  h3
    font-size: 16px
    font-weight: 600
    color: #666
    text-transform: uppercase
    margin-bottom: 30px

// Social icons

.social

  @media #{$break-phone}
    margin-bottom: 30px

  &-link
    display: inline-block
    color: #fff
    background-color: $main-color
    width: 30px
    height: 30px
    line-height: 30px
    text-align: center
    margin-right: 5px
    border-radius: 50%
    font-size: 21px
    @include transition

    &:hover
      color: #fff
      background-color: $main-color-light

  &.dark
    .social-link
      background-color: $main-color

      &:hover
        color: $black
        background-color: $main-color-light