/* Import Config */
@import 'config/variables'
@import 'config/mixins'
@import 'config/utilities'

/* Import Structure */
@import 'structure/nav'
@import 'structure/content'
@import 'structure/footer'

/* Import Components */
@import 'components/jumbotron'
@import 'components/causes'
@import 'components/gallery'
@import 'components/lightbox'
@import 'components/events'
@import 'components/news'
@import 'components/carousel'
@import 'components/page-title'
@import 'components/map'
@import 'components/form'

// General

body
  font-family: $main-font
  font-size: 14px
  line-height: 22px

a:hover
  text-decoration: none
  
@media #{$break-tablet}
  .container
    max-width: 100%